.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  
  padding: 0px 7% 10px 7%;
  width: auto;

  background-color: rgb(254,228,105);
}

.home-content-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  align-content: center;
  justify-content: center;
}

.home img {
  width: 100%;
  max-width: 500px;
  padding: 0px;
  margin: 0px 0px 70px 0px;
  border-radius: 0px 0px 20px 20px;
}

.home button {
  margin-bottom: 70px;
}

.home-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-text-title {
  margin-bottom: 70px;
}

.home-text {
  margin-bottom: 70px;
  width: 100%;
  max-width: 400px;
}

@media screen and (min-width: 768px) {
  .home-content-container {
    flex-direction: row;
    flex-wrap: wrap;
    
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .home-button-container {
    padding: 0px 200px;
  }

  .home img {
    object-fit: cover;
    width: auto;
    max-width: 400px;
    flex: 1;
  }

  .home-text-container {
    flex: 2;
    margin-top: 30px;
    max-width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .home img {
    max-width: 500px;
    width: 100%;
  }
}