.subscription-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background: rgb(254,228,105);
}

.subscription-image {
  width: 100%;
  height: auto;
  max-width: 400px;

  object-fit: cover;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;

  width: 100%;

  padding-top: 50px;

  background: rgb(244, 246, 255);
}

.info-container div,
.info-container ul {
  padding: 0px 30px;
  list-style-position: inside;
  max-width: 500px;
}

.info-container ul {
  padding-left: 45px;
}

.info-price {
  font-size: 1.1em;
  font-weight: bold;

  margin: 20px 0 10px 0;
}

.input-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px 30px;

  text-align: center;
  margin-top: 30px;
}

.input-container input {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px auto;

  width: 100%;
  max-width: 500px;
}

.subscription-button-container {
  display: flex;
  justify-content: center;
}

.subscription-button-container button {
  width: 200px;
  margin: 30px 0px;
}

.disclaimer {
  font-size: .8em;
  max-width: 500px;
}

.disclaimer span {
  text-decoration: underline;
}

.footer-container {
  background: rgb(244, 246, 255);
}

@media screen and (min-width: 768px) {
  .info-container div,
  .info-container ul {
    max-width: 500px;
  }
}

@media screen and (min-width: 1024px) {
  
}